path.link {
    fill: none;
    stroke: #666;
    stroke-width: 4px;
    cursor: pointer;
}

path.active_link {
    fill: none;
    stroke: rgba(216, 179, 80, 0.8);
    stroke-width: 5px;
    cursor: pointer;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
}

text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
}

.graphContainer {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    width: 60%;
}