{% extends "devices/base.html" %}

{% block device_detail %}
	<div class="col-md-6">
		<h1>{{ object.hostname }}</h1>
		<table class="table table-bordered">
			<tr>
				<th scope="row">IP Address</th>
				<td>{{ object.ip }}</td>
			</tr>
			<tr>
				<th scope="row">SNMP Community</th>
				<td>{{ object.community }}</td>
			</tr>
			<tr>
				<th scope="row">System Name</th>
				<td>{{ object.sysname }}</td>
			</tr>
			<tr>
				<th scope="row">Hardware</th>
				<td>{{ object.hardware }}</td>
			</tr>
			<tr>
				<th scope="row">Operating System</th>
				<td>{{ object.os }}</td>
			</tr>
			<tr>
				<th scope="row">Serial</th>
				<td>{{ object.serial }}</td>
			</tr>
			<tr>
				<th scope="row">Location</th>
				<td>{{ object.location }}</td>
			</tr>
			<tr>
				<th scope="row">Uptime</th>
				<td>{{ object.uptime }}</td>
			</tr>
			<tr>
				<th scope="row">Last Polled</th>
				<td>{{ object.last_polled }}</td>
			</tr>
		</table>
	</div>
{% endblock device_detail %}