{% extends "devices/index.html" %}
{% load staticfiles %}

{% block active_devices %}<li class="active">{% endblock active_devices %}

{% block sdn_detail %}
        <div class="wrapper wrapper-content animated fadeInRight">
        {% if node.nodes != "no data" %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <table id="sdn_header_table" class="table">
                            <tbody>
                            <tr>
	                            <td style="padding: 27px;" width=5% align="center" valign="middle" ></td>
                                <td><h3>{{ node.name }}</h3>{{ node.TypeOfSwitch }}<br>{{ node.IpAddress }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                <div class="panel panel-default">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Характеристики устройства </h5>
                    </div>
                    <div class="ibox-content">
                        <table id="sdn_detail_table" class="table table-striped">
                            <tbody>
								<tr>
									<th scope="row">Vendor</th>
									<td id="company">{{ node.CompanyName }}</td>
								</tr>
								<tr>
									<th scope="row">Protocol Version</th>
									<td id="protocol_vers">{{ node.ProtocolVersion }}</td>
								</tr>
                                <tr>
                                    <th scope="row">Soft Version</th>
                                    <td id="serial">{{ node.SoftVersion }}</td>
                                </tr>
								<tr>
									<th scope="row">Connection IP Address</th>
									<td id="ip_conn">{{ node.IpAddressConn }}</td>
								</tr>
								<tr>
									<th scope="row">Port Number</th>
									<td id="port">{{ node.portNumber }}</td>
								</tr>
								<tr>
									<th scope="row">Hardware Address</th>
									<td id="hw_address">{{ node.hardwareAddress }}</td>
								</tr>
								<tr>
									<th scope="row">Connection Start Date</th>
									<td id="date_start_conn">{{ node.DateStartConn }}</td>
								</tr>
								<tr>
									<th scope="row">Connection Start Time</th>
									<td id="time_start_conn">{{ node.TimeStartConn }}</td>
								</tr>
								<tr>
									<th scope="row">Serial Number</th>
									<td id="serial">{{ node.SN }}</td>
								</tr>
								<tr>
									<th scope="row">Config</th>
									<td id="config">{{ node.config }}</td>
								</tr>
                                <tr>
                                    <th scope="row">DP Description</th>
                                    <td id="config">{{ node.Dpdescr }}</td>
                                </tr>
								<tr>
									<th scope="row">Current Features</th>
									<td id="curr_features">{{ node.currentFeatures }}</td>
								</tr>
								<tr>
									<th scope="row">Advertised Features</th>
									<td id="advert_features">{{ node.advertisedFeatures }}</td>
								</tr>
								<tr>
									<th scope="row">Supported Features</th>
									<td id="supp_features">{{ node.supportedFeatures }}</td>
								</tr>
								<tr>
									<th scope="row">Peer Features</th>
									<td id="peer_features">{{ node.peerFeatures }}</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            
            <div class="col-lg-8">
                <div class="panel panel-default">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Характеристики интерфейсов </h5>
                    </div>
                    <div class="ibox-content">
                        <table id="sdn_port_table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Interface</th>
                                <th>Hardware Address</th>
                                <th>TX Bytes</th>
                                <th>RX Bytes</th>
                                <th>TX Packets</th>
                                <th>RX Packets</th>
                                <th>TX Dropped</th>
                                <th>RX Dropped</th>
                                <th>TX Errors</th>
                                <th>RX Errors</th>
                                <th>Frame Alignment</th>
                                <th>CRC Errors</th>
                                <th>Overrun</th>
                                <th>Collisions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for port in node.Ports %}
                                {% if port.connection_status == "1" %}
                                    <tr><th><h4><span class="label label-primary">{{ port.name }}</span></h4></th>
                                {% else %}
                                    <tr><th><h4><span class="label label-danger">{{ port.name }}</span></h4></th>
                                {% endif %}
                                <td>{{ port.hw_addr }}</td>
                                <td>{{ port.TxB }}</td>
                                <td>{{ port.RxB }}</td>
                                <td>{{ port.TxP }}</td>
                                <td>{{ port.RXP }}</td>
                                <td>{{ port.TxD }}</td>
                                <td>{{ port.RxD }}</td>
                                <td>{{ port.TxE }}</td>
                                <td>{{ port.RxE }}</td>
                                <td>{{ port.RxF }}</td>
                                <td>{{ port.RxC }}</td>
                                <td>{{ port.RxO }}</td>
                                <td>{{ port.Col }}</td>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                </div>
            </div>

            {% else %}

                <script>
                var msg = "Недоступны данные об устройстве",
                    title = "Ошибка!";
                </script>

            {% endif %}

        </div>
{% endblock sdn_detail %}

{% block sdn_detail_scripts %}
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>
<script>
    if (msg === "Недоступны данные об устройстве" && title === "Ошибка!") {
        toastr.options = {
                "closeButton": false,
                "debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        toastr.error(msg, title);
    }
</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
{% endblock sdn_detail_scripts %}