{% extends "devices/index.html" %}
{% load staticfiles %}

{% block active_devices %}<li class="active">{% endblock active_devices %}

{% block list_all %}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>MPLS Устройства </h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="text-align: center">Статус </th>
                                <th style="text-align: center">Производитель</th>
                                <th style="text-align: center">Узел</th>
                                <th style="text-align: center">IP Адрес</th>
                                <th style="text-align: center">Модель</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if node_legacy %}
	                            {% for device in node_legacy %}
	                            <tr>
	                                {% if device.status == 1 %}
	                                	<td><h4><span class="label label-primary">up</span></h4></td>
	                                {% elif device.status == 0 %}
	                                	<td><h4><span class="label label-danger">down</span></h4></td>
	                                {% else %}
	                                	<td>Unknown</td>
	                                {% endif %}

	                                {% if device.icon == "Cisco" %}
	                                	<td align="center"><img src="{% static 'img/cisco.png' %}"></td>
	                                {% elif device.icon == "Juniper" %}
	                                	<td align="center"><img src="{% static 'img/junos.png' %}"></td>
	                                {% else %}
	                                	<td>Unknown</td>
	                                {% endif %}

	                                <td align="center"><a href="{% url 'devices:legacy_detail' device.id %}">{{ device.hostname }}</a></td>
	                                <td align="center"> {{ device.ip }} </td>
	                                <td align="center"> {{ device.hardware }} </td>
	                            </tr>
	                            {% endfor %}
	                        {% else %}
	                        	<tr>No Devices</tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>OpenFlow Устройства </h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped">
                        {% if node_sdn %}
                            <thead>
                            <tr>
                                <th style="text-align: center">Статус</th>
                                <th style="text-align: center">Производитель</th>
                                <th style="text-align: center">Узел</th>
                                <th style="text-align: center">IP Адрес</th>
                                <th style="text-align: center">Модель</th>
                                <th style="text-align: center">Версия протокола</th>
                            </tr>
                            </thead>
                            <tbody>
							
	                            {% for sd in node_sdn.Switches %}
		                            
		                            <tr>
		                                {% if sd.status == 1 %}
		                                	<td><h4><span class="label label-primary">up</span></h4></td>
		                                {% elif sd.status == 0 %}
		                                	<td><h4><span class="label label-danger">down</span></h4></td>
		                                {% else %}
		                                	<td>Unknown</td>
		                                {% endif %}
                                        <td align="center"><img src="{% static 'img/zelax.png' %}"></td>
                                        <td align="center"><a href="{% url 'devices:sdn_detail' sd.datapathid %}">{{ sd.hostname }}</a></td> 
		                                
		                                
		                                <td align="center"> {{ sd.ip }} </td>
                                        <td align="center">{{ sd.device_type }}</td>
		                                <td align="center"> 1.0 </td>
		                            </tr>
		                            
	                            {% endfor %}
	                        {% else %}
	                        	<tr>No Devices</tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
{% endblock list_all %}