{% extends "devices/index.html" %}
{% load staticfiles %}

{% block css_topology %}
<link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
<link href="{% static 'css/topology.css' %}" rel="stylesheet">
<style>
    .col-lg-12 {
        bottom: 5%;
        position: absolute;
    }
</style>
{% endblock css_topology %}

{% block active_service_add %}<li class="active">{% endblock active_service_add %}

{% block topology %}
<div class="wrapper wrapper-content animated fadeInRight">  
    <div id="graphContainer" class="graphContainer"></div>    
</div> 
{% endblock topology %}

{% block topology_scripts %}
<script>
var data = {{ node|safe }};
var service = {{ service|safe }};
var path = "{{ path|safe }}";
</script>
<script src="{% static 'js/d3.min.js' %}"></script>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'js/service_detail.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
{% endblock topology_scripts %}
