{% extends "devices/index.html" %}
{% load staticfiles %}

{% block active_main_page %}<li class="active">{% endblock active_main_page %}

{% block general_info %}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <h1>
                            SDN-система
                            <p>
                            Сетевого управления
                        </h1>
                        <img width="50%;" height="50%;" src="{% static 'img/pict1.jpg' %}">
                        <!-- <small>
                            Базовый функционал по мониторингу устройств, их топологии и управлению маршрутами
                        </small> -->
                    </div>
                </div>
            </div>
        </div>
{% endblock general_info %}